<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('partials/head', { title: 'Signup' }); -%>
  <body>
    <%
      if (typeof error === 'undefined') {
        error = {
          name: '',
          password: '',
          email: ''
        };
      }
      if (typeof hasUser === 'undefined') {
        hasUser = "";
      }
    %>
    <%- include('partials/header'); -%>
    <form action="/signup" method="POST">
      <h2>Sign up</h2>
      <div class="error" style="margin-bottom: 2rem; font-size: 1.6rem;"><%= hasUser %></div>
      <label for="uname">Username</label>
      <input type="text" name="uname" required value="<%= typeof uname === 'undefined' ? "" : uname %>" />
      <div class="error"><%= error.name %></div>
      <label for="email">Email</label>
      <input type="text" name="email" required value="<%= typeof email === 'undefined' ? "" : email %>" />
      <div class="error"><%= error.email %></div>
      <label for="password">Password</label>
      <input type="password" name="password" required />
      <div class="error"><%= error.password %></div>
      <button>Sign up</button>
    </form>
  </body>
  <%- include('partials/footer'); -%>
</html>
